@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap');

body {
  font-family: 'Quattrocento Sans', sans-serif;
  text-align: center;
  margin: 0;
}

p {
  font-family: 'Quattrocento Sans', sans-serif;
}

h1 {
  font-family: 'Quattrocento Sans', sans-serif;
}

h2 {
	font-family: 'Quattrocento Sans', sans-serif;
	size: 2em;
}

.topnav {
	background-color: white;
	overflow: hidden;
}

.topnav a {
	float: left;
	color:#78c9ff;
	text-align: center;
	padding: 14px;
	text-decoration: none;
	border-radius: 5px 5px 0px 0px;
	font-weight: 50;
}

.topnav a:hover {
	background-color: #e3edff;
	color: #26a9ff;
}

.topnav a.active {
	background-color: #78c9ff;
	color: white;
}

.logo {
	background-color: white;
}

.main-section {
	background-color: #78c9ff;
	padding-top: 14px;
	margin: 0;
}