@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap');

body {
background-color: #78c9ff;
  font-family: 'Quattrocento Sans', sans-serif;
  text-align: center;
}

p {
  font-family: 'Quattrocento Sans', sans-serif;
}

h1 {
  font-family: 'Quattrocento Sans', sans-serif;
}

h2 {
	font-family: 'Quattrocento Sans', sans-serif;
	size: 2em;
}

.topnav {
	background-color: white;
	overflow: hidden;
}

.topnav a {
	float: left;
	color:#78c9ff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border-radius: 5px 5px 0px 0px;
}

.topnav a:hover {
	background-color: #f7faff;
	color: #57bcff;
}

.topnav a.active {
	background-color: #78c9ff;
	color: white;
}

.logo {
	background-color: white;
}