@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap');

/*the beautiful blue is #78c9ff*/

body {
  font-family: 'Quattrocento Sans', sans-serif;
  text-align: center;
  margin: 0;
  background-color: white;
}

p {
  font-family: 'Quattrocento Sans', sans-serif;
}

h1 {
  font-family: 'Quattrocento Sans', sans-serif;
}

h2 {
	font-family: 'Quattrocento Sans', sans-serif;
	size: 2em;
}

h1, h2, h3, p {
	padding-left: 10px;
	padding-right: 10px;
}

.topnav {
	background-color: white;
	overflow: hidden;
	margin-left: 10px;
	margin-right: 10px;
}

.topnav a {
	float: left;
	color: black;
	text-align: center;
	padding: 14px;
	text-decoration: none;
	border-radius: 5px 5px 0px 0px;
	font-weight: 50;
	background-color: #e8e8e8;
	border-style: solid;
	border-width: 1px 1px 0px 1px;
}

.topnav a:hover {
	background-color: white;
	color: black;
}

.topnav a.active {
	background-color: white;
	color: black;
}

.logo {
	background-color: white;
}

.main-section {
	padding-top: 14px;
	padding-bottom: 14px;
}